@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Robot");

body{
   background: linear-gradient(to right, #e4dead, #e4e4e2);
    overflow-x: hidden;
}
.container{
    background: #fff;
    width: 1300px;
    height: 450px;
    margin: auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px
    rgba(119, 119, 119, 119); 
}
.leftbox{
    float: left;
    top: -15%;
    left: 5%;
    position: absolute;
    width:20%;
    height: 120%;
    background: #f4f3e9;
    box-shadow: 3px 3px 10px
    rgba(119, 119, 119, 119); 
    border: .1me solid #f8f8f8;
    border-radius: 0.625rem;
}
nav a{
    list-style: none;
    padding:35px;
    color: rgb(42, 40, 40);
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
    
}
nav a:hover{
    color: #99934f;
    cursor: pointer;
    transform: scale(1.2);
}
nav a:first-child{
    margin-top: 7px;

}
nav a.active{
    color: #99934f;
}

.rightbox{
    width: 60%;
    margin-left: 27%;
    padding-top: 5px;
}
.tabShow {
    transition: all .5s ease-in;
    width: 80%;
    position: absolute;
}
h1{
    font-family: "Monstserrat", sans-serif;
    color: #040303;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 35px;
}
h2{
    color: #777;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing:1px;
    margin-top: 10px;
    margin-left: 2px;
}
.input, p{
    border: 0;
    border-bottom:1px solid #cdc9c9;
    width: 80%;
    font-family: "Monsterrat", sans-serif;
    font-size: 7.em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}
span{
    font-size: .7em;
    color: #777;
}
.btn{
    font-family: "robot", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: #fff;
    background: #a20500;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,2);
    cursor: pointer;
    margin-top: 15px;
}
.tabShow{
    display: none;

}
.logo_img_login{
    height:auto;
    width:70px;
   display: block;
   margin-top: 14;
   border-radius: 5rem;
   margin-left: 90;
}

.shesh{
    background-color: #fff;
    padding: 0 3rem;
    border-radius: 0.625rem;
    width: 7%;
    margin-left: 80%;
    margin-top: 5%;
}
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
  }
  li ul {
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: 20rem;
    right: -3rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  
  .fa-regular fa-bell {
    color: #888888;
    transition: all 0.3s ease-out;
  }
  
  .fa-regular fa-bell:hover {
    color: #ff9800;
    transform: scale(1.25) translateY(-4px);
    cursor: pointer;
  }
  
  
  .profile-pic {
    height: 3rem;
    width: auto;
    cursor: pointer;

  }
  
  .sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
  
  .sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
  }
  
  .sub-item:hover .fa-regular fa-bell{
    color: #ff9800;
    transform: scale(1.08) translateY(-2px);
    cursor: pointer;
  }
  
  .sub-item:hover p {
    color: #000;
    cursor: pointer;
  }
  
  .sub-item p {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
  }
  
  .team_img{    
	justify-content: left;
	position: relative;
	top: -100px;
  }
  
  .t1_img{
	height: 90px;
	width: 90px;
	border-radius: 10px;
	margin-right: 25px;
	margin-left: 25px;
    top: -25;
    border-radius: 5rem;
    
  }
  
  .t2_img{
	height: 90px;
	width: 90px;
	border-radius: 10px;
	margin-right: 25px;
	margin-left: 25px;
    top: -40;
    border-radius: 5rem;
   
  }
  
  .t3_img{
    height: 90px;
	width: 90px;
	border-radius: 10px;
	margin-right: 25px;
	margin-left: 25px;
   top: -40;
   border-radius: 5rem;
  }
  
  .lbl{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
    margin-top: -98;
  }